<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="icon" type="image/x-icon" href="/image/favicon.png">
  <title>Adozioni</title>
</head>
<body>
<div class="container">
  <h1>Lista Adozioni</h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  <table>
    <thead>
    <tr>
      <th>Data Adozione</th>
      <th>Utente</th>
      <th>Nome Animale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="adozione : ${adozioni}" >
      <td th:text="${adozione.utente != null ? (adozione.utente.nome + ' ' + adozione.utente.cognome) : 'N/A'}"></td>
      <td th:text="${adozione.utente != null ? adozione.utente.id_utente : 'N/D'}"></td>
      <td th:text="${#dates.format(adozione.data_adozione, 'dd/MM/yyyy')}"></td>
      <td th:text="${adozione.animale != null ? adozione.animale.id_animale : 'N/D'}"></td>
      <td th:text="${adozione.animale?.nome != null and !#strings.isEmpty(#strings.trim(adozione.animale.nome))} ? ${adozione.animale.nome} : 'N/A'"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>