<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registrazione Utente</title>
  <link rel="stylesheet" th:href="@{/css/stylesignin.css}">
</head>
<body>

  <div class="container">
    <div class="logo-container">
      <img src="/image/logo.png" alt="Logo Rifugio" class="logo-img">
    </div>

    <h2>Registrazione</h2>
    <p class="intro-text">Unisciti a noi per offrire una nuova casa agli animali che ne hanno bisogno. Compila il modulo per diventare parte della famiglia Catarsi.</p>

    <form th:action="@{/signin}" method="post">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="cognome">Cognome:</label>
      <input type="text" id="cognome" name="cognome" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="telefono">Numero di telefono:</label>
      <input type="tel" id="telefono" name="telefono" required pattern="[0-9]{10}" placeholder="es. 3331234567">

      <label for="sesso">Sesso:</label>
      <select id="sesso" name="sesso" required>
        <option value="">--Seleziona--</option>
        <option value="m">Maschio</option>
        <option value="f">Femmina</option>
        <option value="a">Altro</option>
      </select>

      <label for="dataNascita">Data di nascita:</label>
      <input type="date" id="dataNascita" name="dataNascita" required>

      <button type="submit">Invia</button>
    </form>

    <h2>oppure</h2>
    <div class="back-home">
      <a th:href="@{/}" class="home-button">Torna alla Home</a>
    </div>
  </div>

</body>
</html>
