<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visite</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.png">
  <link rel="stylesheet" href="/css/style4.css">
</head>
    
<body>
          <!-- Header -->
    <!-- <header> -->
        <nav>
            <div class="logo">
                <img src="/image/logo.png" alt="Logo Catarsi Group">
                
                CATARSI GROUP
              </div>
              
            <div class="house-icon"><a href="/home.html"><img src="/image/house.svg" alt="casa"></a>
            </div>
        </nav>
    </header>

<!-- <section class="animals-section"> -->
    <div class="section-title">LE VISITE</div>

    <div class="animals-table-container">
        <h1>Visite Veterinarie</h1>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th class="header-btn">Data</th>
                    <th class="header-btn">Animale</th>
                    <th class="header-btn">Dottore</th>
                    <th class="header-btn">Descrizione</th>
                    <th></th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="table-row" th:each="visita : ${visite}" th:if="${visite != null}">
                    <td th:text="${visita.data_visita}"></td>
                    <td th:text="${visita.animale.nome}"></td>
                    <td th:text="${visita.dottore.nome + ' ' + visita.dottore.cognome}"></td>
                    <td th:text="${visita.descrizione}"></td>
                    <td >
                        <form th:action="@{/visite-veterinarie/{id}(id=${visita.id_visita})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Elimina</button>
                        </form>
                    </td>
                    <!-- <td>
                    <form th:action="@{'/visite-veterinarie/' + ${visita.id_visita} + '/modifica'}" method="get">
                        <button type="submit">Modifica</button>
                    </form>

                        
                    </td> -->
                </tr>
                

            </tbody>
        </table>
    </div>
    <div class="control-buttons" style="margin-top: 60px;">
        <a href="/visite-veterinarie/nuova-visita" class="add-animal-btn">
            Aggiungi Visita
        </a>
    </div>



    </body>
</html>